extends layout

block content
    div.container
        div.jumbotron(style="background-color: #FFD700")
            h1 Espace
            p Plus y'en a, plus on sera content !
    div.container
        div.jumbotron(style="background-color: #DAA520")
            form#formAddProduct(name="addproduct",method="post",action="/space")
                h3 Titre
                input#inputProductTitle(type="text", placeholder="exemple: Ramen", name="title")
                br
                h3 Qualité
                select#inputProductQuality(type="form-control", name="quality")
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                br
                h3 Pétage de bide
                select#inputProductQuality(type="form-control", name="quantity")
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                br
                h3 Image (url)
                input#inputImage(type="url", placeholder="exemple: http://fonsdale.com/Kebab.jpg", name="image")
                br
                br
                button#btnSubmit(type="submit", class="btn btn-lg btn-primary") Ajouter !